<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include('../fragmente/head') %>
        <title>
            <%= titlu %>
        </title>
</head>

<body>
    <%- include('../fragmente/header') %>

        <h1>
            <%= titlu %>
        </h1>
        <p>
            <%= text %>
        </p>
        <img src="<%= imagine %>" alt="Eroare">
        <a href="/">Înapoi la pagina principală</a>

        <%- include('../fragmente/footer') %>
</body>

</html>